@charset "UTF-8";
.nav-header {
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
}

.nav-header-ul-l {
  float: left;
}

.dt {
  padding-left: 7px;
  padding-right: 7px;
}

.nav-mid {
  margin: 0 auto;
  width: 1190px;
  height: 30px;
  line-height: 30px;
  color: #999;
}

#nav-header-iconfont {
  float: left;
  margin-left: 200px;
}

#nav-header-iconfont .iconfont {
  font-size: 14px;
  color: #f10215;
  margin-right: 4px;
}

.nav-header-ul-r {
  float: right;
}

.nav-header-ul-r li {
  float: left;
}

.nav-header-ul-r li a {
  color: #999;
}

.nav-header-ul-r li a:hover {
  color: #e33333;
}

#shortcut .style-red {
  color: #f10215;
}

#shortcut .line {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

.enterprise_procurement .dt a {
  color: #f00;
}

.mobile_static {
  position: absolute;
  left: 3px;
  width: 66px;
  height: 66px;
  border: 1px solid #cfcfcf;
}

.mobile_pop:before,
.mobile_static:before {
  content: "";
  position: absolute;
  display: block;
  top: -9px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}

.mobile_static_qrcode {
  margin: 4px auto;
  width: 60px;
  height: 60px;
  background: #f6f6f6 url(../img/mobile_qrcode.png) 50% no-repeat;
}

.mobile_txt {
  width: 60px;
  text-align: center;
}

.cw-icon {
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  border: 1px solid #e3e4e5;
  line-height: 28px;
  height: 28px;
}

.shortcut_btn:hover .cw-icon {
  padding-bottom: 2px;
  border-color: #ccc;
  border-bottom: none;
  background-color: #fff;
}

.shortcut_btn {
  position: relative;
  z-index: 21;
}

.shortcut_btn:hover {
  z-index: 22;
}

.dd_navigation_bar_w {
  width: 280px;
}

.dd_navigation_bar {
  display: none;
  position: absolute;
  top: 30px;
  line-height: 24px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.dd_navigation_bar .myjdlist {
  padding: 10px 0 10px 15px;
  overflow: hidden;
}

.dd_navigation_bar .myjdlist .fore1 {
  float: left;
  width: 126px;
}

.dd_navigation_bar .myjdlist .fore2 {
  float: left;
  width: 126px;
}

.dd_navigation_bar .myjdlist_2 {
  border-top: solid 1px #f1f1f1;
}

.shortcut_btn:hover .dd_navigation_bar {
  display: block;
}

.dd_navigation_bar .item {
  display: inline-block;
  width: 56px;
  white-space: nowrap;
}

.dd_navigation_bar_w2 {
  width: 157px;
}

.item-client {
  font-weight: 700;
  color: #666;
}

.dd_navigation_bar_r {
  right: 0;
  width: 170px;
}

.dd_navigation_bar_r .myjdlist .item {
  display: inline-block;
  width: 70px;
}

.header-mid {
  margin: 0 auto;
  width: 1190px;
  position: relative;
  z-index: 11;
  height: 140px;
}

#logo,
.logo_tit {
  position: absolute;
}

.logo_tit_lk {
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  display: block;
  width: 190px;
  height: 170px;
  background-image: url(../img/sprite.head.png);
  font-size: 0;
}

#logo {
  z-index: 2;
  left: 0;
  top: -31px;
  width: 190px;
  height: 170px;
  -webkit-box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-bottom: 1px solid #ededed;
}

#search {
  position: relative;
}

#search .form {
  position: absolute;
  left: 320px;
  top: 25px;
  width: 550px;
  height: 35px;
}

#search .form .search_bg {
  left: 0;
  padding: 4px 44px 4px 4px;
  width: 450px;
  height: 25px;
  border: 1px solid transparent;
  line-height: 25px;
  font-size: 14px;
  position: absolute;
  top: 0;
  outline: none;
  color: #989898;
  background-color: #fff;
}

#search .form .input-text {
  left: 0;
  padding: 4px 44px 4px 4px;
  width: 450px;
  height: 25px;
  border: 1px solid transparent;
  line-height: 25px;
  font-size: 14px;
  background: transparent;
  position: absolute;
  top: 0;
  outline: none;
}

#search .form .button {
  border-radius: 0;
  right: 0;
  width: 50px;
  height: 35px;
  line-height: 35px;
  border: none;
  background-color: #f10215;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 0;
  outline: none;
  cursor: pointer;
}

.photo-search-btn {
  position: absolute;
  right: 65px;
  top: 10px;
  width: 19px;
  height: 15px;
  overflow: hidden;
}

.photo-search-btn .upload-bg {
  display: block;
  width: 19px;
  height: 15px;
  background: url(../img/sprite-photo-search.png) no-repeat;
  cursor: pointer;
}

.photo-search-btn:hover .upload-bg {
  background-position: -30px 0;
}

#settleup {
  position: absolute;
  right: 99px;
  top: 25px;
  z-index: 21;
}

#settleup .shopping_cart {
  width: 188px;
  height: 33px;
  background-color: #fff;
  text-align: center;
  line-height: 33px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  border: 1px solid #e3e4e5;
}

#settleup .shopping_cart .ci-count {
  position: absolute;
  top: 5px;
  left: 140px;
  right: auto;
  display: inline-block;
  padding: 1px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background-color: #f10215;
  -moz-border-radius: 7px;
  border-radius: 7px;
  min-width: 12px;
  text-align: center;
}

#settleup .shopping_cart .iconfont {
  margin-right: 3px;
  font-size: 16px;
  color: #f10214;
}

#settleup .shopping_cart a {
  color: #f10214;
}

#settleup:hover .dd_navigation_bar {
  display: block;
}

#settleup:hover .shopping_cart {
  padding-bottom: 2px;
  border-color: #ccc;
  border-bottom: none;
}

#settleup .dd_navigation_bar {
  top: 35px;
  right: 0;
  width: 308px;
}

.cart_pop {
  position: relative;
  z-index: 2;
  width: 100%;
  background: #fff;
}

.cart_empty {
  height: 49px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  line-height: 49px;
  overflow: hidden;
  color: #999;
}

.cart_empty .cart_empty_img {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 49px;
  background-image: url(../img/58004d6dN2927f0f7.png);
}

.hotwords {
  overflow: hidden;
  position: absolute;
  left: 320px;
  top: 65px;
  width: 550px;
  height: 20px;
  line-height: 20px;
}

.hotwords a {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  color: #999;
}

.hotwords .style-red {
  color: #f10215;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotwords a:hover {
  color: #c81623;
}

.navitems {
  overflow: hidden;
  position: absolute;
  left: 200px;
  bottom: 0;
  width: 790px;
  height: 40px;
  padding-top: 20px;
}

.navitems ul {
  float: left;
}

.navitems ul li {
  margin-left: 25px;
  float: left;
}

.navitems ul li a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
}

.navitems .spacer {
  float: left;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 17px;
  margin-right: -7px;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

.navitems a:hover {
  color: #c81623;
}

.treasure {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 190px;
  height: 40px;
}

.treasure a {
  display: block;
  width: 190px;
  height: 40px;
  background-image: url(../img/8711d4c14393ac28.png);
}

.main {
  position: relative;
  margin-bottom: 30px;
}

.main .main-mid {
  margin: 0 auto;
  width: 1190px;
  position: relative;
  height: 480px;
  background-color: #f0f3ef;
}

.main .main-mid .main-mid-l, .main .main-mid .main-mid-m, .main .main-mid .main-mid-r, .main .main-mid .main-mid-last-r {
  float: left;
  height: 480px;
  margin-right: 10px;
}

.main .main-mid .main-mid-l-width {
  width: 190px;
}

.main-mid-m {
  width: 590px;
}

.main-mid-r {
  width: 190px;
  margin-right: 0 !important;
}

.main-mid-last-r {
  width: 190px;
  float: right !important;
  margin-right: 0 !important;
}

.cate {
  position: relative;
  z-index: 2;
}

.cate_menu {
  padding: 6px 0;
  height: 468px;
  overflow: hidden;
  background-color: #fefefe;
  color: #636363;
}

.cate_menu .cate_menu_item {
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  padding-left: 18px;
  font-size: 0;
}

.cate_menu .cate_menu_item .cate_menu_lk {
  font-size: 14px;
  color: #626262;
}

.cate_menu .cate_menu_item .cate_menu_line {
  padding: 0 2px;
  font-size: 12px;
}

.cate_menu_lk:hover {
  color: #c81623 !important;
}

.cate_menu_item_on {
  background-color: #d9d9d9;
}

.focus {
  position: relative;
  float: left;
  width: 590px;
  height: 470px;
  margin-top: 10px;
  overflow: hidden;
}

.focus .focus_list {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider_control-l, .slider_control-r {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -20px;
  width: 24px;
  height: 40px;
  background-color: #aeb5ad;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  color: rgba(255, 255, 255, 0.4);
  line-height: 40px;
  text-align: center;
  border: none;
  outline: none;
}

.slider_control-l i, .slider_control-r i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: color .2s ease;
  -o-transition: color ease .2s;
  -moz-transition: color ease .2s;
  transition: color .2s ease;
}

.slider_control:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider_wrapper ul {
  height: 470px;
  position: relative;
}

.slider_wrapper ul li {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}

.slider_wrapper ul li a {
  display: inline-block;
  height: 470px;
}

.slider_indicators {
  position: absolute;
  font-size: 0;
  text-align: center;
  z-index: 1;
  margin-left: 0 !important;
  left: 46px;
  bottom: 20px;
}

.slider_indicators_btn {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: background ease 0.2s;
}

.slider_indicators_btn::after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #b9beba;
  border-color: rgba(255, 255, 255, 0.4);
  transition: all .2s ease;
}

.slider_indicators_btn_on {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.slider_indicators_btn_on::after {
  border: 2px solid transparent;
  background-color: #fff;
}

.rec_item {
  width: 190px;
  height: 150px;
  margin-top: 10px;
}

.rec_item a {
  display: inline-block;
}

.rec_lk:hover {
  opacity: 0.8;
}

.lazyimg_img {
  width: 100%;
  height: 100%;
}

.main-mid-last-r .user {
  height: 150px;
  background: #fff;
  margin-top: 10px;
  text-align: center;
}

.main-mid-last-r .user .user_inner {
  position: relative;
  padding-top: 62px;
  height: 78px;
}

.user_avatar {
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -34px;
  width: 65px;
  height: 65px;
}

.user_avatar_lk {
  display: block;
  width: 55px;
  height: 55px;
  border: 5px solid #e3e1df;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 3px 6px 25px #c3c3c3;
}

.user_avatar_lk img {
  width: 55px;
  height: 55px;
}

.user_show {
  padding: 0 10px;
}

.user_show p {
  overflow: hidden;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #888;
}

.user_login, .user_reg {
  padding: 0 2px;
}

.user_profit {
  margin-top: 10px;
  height: 25px;
  font-size: 0;
}

.user_profit .user_profit_lk {
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #e43f3b;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -webkit-box-shadow: 6px 8px 20px rgba(45, 45, 45, 0.15);
  -moz-box-shadow: 6px 8px 20px rgba(45, 45, 45, 0.15);
  box-shadow: 6px 8px 20px rgba(45, 45, 45, 0.15);
}

.user_profit .user_profit_lk_plus {
  background: #363634;
  color: #e5d790;
}

.user_profit a:hover {
  background-color: #e01222;
  color: #fff;
}

.new {
  overflow: hidden;
  height: 130px;
  background: #fff;
}

.new .new_list {
  position: relative;
  padding-top: 8px;
  margin: 0 15px;
  height: 88px;
}

.new .new_list .news_item {
  line-height: 21px;
  max-width: 160px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999;
}

.new .new_list .news_item .news_tag {
  display: inline-block;
  position: relative;
  font-size: 12px;
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  vertical-align: 0;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  background-color: #e47f7f;
  margin-right: 6px;
}

.new .new_hd {
  padding: 8px 0 0;
  position: relative;
  line-height: 13px;
  font-size: 0;
}

.new .new_hd .news_tit {
  display: inline-block;
  font-size: 13px;
  margin-left: 15px;
  color: #1e1e1e;
}

.new .new_hd .news_more {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 12px;
  color: #999;
}

/**service**/
.service {
  overflow: hidden;
  position: relative;
  height: 190px;
  background-color: #fff;
}

.service .service_entry {
  overflow: hidden;
  padding: 18px 11px 11px;
  background: #fff;
}

.service .service_item {
  position: relative;
  float: left;
  width: 42px;
  height: 55px;
  background: #fff;
  text-align: center;
}

.service .service_frame {
  overflow: visible;
}

.service_item:hover .service_txt {
  color: #e01121;
}

.service_txt {
  display: block;
  background: none;
  color: #666;
  height: 14px;
  line-height: 14px;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}

.service_frame_on .service_txt {
  color: #e01121;
  border-bottom-color: #e01121;
}

.service_pop {
  position: absolute;
  width: 100%;
  height: 180px;
  background-color: #fff;
}

.service_pop .service_pop_item {
  position: relative;
  z-index: 1;
  width: 168px;
  height: 180px;
  padding: 0 15px;
  background-color: #fff;
}

.iframe-recharge {
  color: #666;
  width: 160px;
  font-family: 'Microsoft Yahei';
}

.iframe-recharge .tab-iframe {
  height: 21px;
  padding-top: 12px;
  overflow: hidden;
}

.iframe-recharge .tab-iframe li {
  float: left;
  width: 56px;
}

.iframe-recharge .tab-iframe li a {
  _float: left;
  position: relative;
  display: block;
  line-height: 16px;
  color: #666;
  white-space: nowrap;
  height: 21px;
}

.iframe-recharge li.tab-item-selected a {
  color: #e40015 !important;
}

/**service**/
.clear::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.ft_ser {
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
}

.ft_ser_mid, .ft_hp_mid, .ft_last_mid {
  width: 1190px;
  margin: 0 auto;
}

.ft_ser_ul {
  height: 42px;
  overflow: hidden;
}

.ft_ser_ul .ft_ser_list {
  float: left;
  width: 297px;
}

.ft_ser_inner {
  position: relative;
  margin: 0 auto;
  padding-left: 45px;
  width: 180px;
}

.ft_ser_img {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 42px;
  text-indent: -999px;
  background: url(../img/sprite_footer.png) no-repeat 0 -192px;
}

.ft_ser_text {
  overflow: hidden;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
}

.quick {
  background-position: -41px -192px;
}

.good {
  background-position: -82px -192px;
}

.shen {
  background-position: -123px -192px;
}

.ft_hp {
  padding: 20px 0;
}

.ft_hp_list {
  overflow: hidden;
  height: 160px;
}

.ft_hp_list .ft_hp_nav {
  float: left;
  width: 198px;
  line-height: 22px;
}

.ft_hp_list .ft_hp_nav_tit {
  margin-bottom: 5px;
  font-size: 14px;
}

.ft_hp_l_tit {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.ft_hp_l {
  background: url(../img/sprite_footer.png) no-repeat 0 0;
  float: right;
  width: 200px;
  height: 150px;
}

.ft_hp_l_inner {
  padding: 0 10px;
}

.ft_hp_l_text {
  text-align: right;
}

.ft_last_mid {
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}

.ft_last_line {
  margin: 0 10px;
  color: #ccc;
}

.ft_last_inner {
  padding: 10px 0;
  line-height: 22px;
  color: #999;
}

.ft_last_inner a {
  color: #999;
}

.ft_last_inner a:hover {
  color: #c81623;
}

.pic_country {
  display: inline-block;
  width: 15px;
  height: 10px;
  vertical-align: -1px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.pic_country_Global {
  background: url(../img/sprite_footer.png) no-repeat -108px -155px;
  height: 12px;
  margin-top: -1px;
}

.pic_country_rissia {
  background: url(../img/sprite_footer.png) no-repeat -168px -155px;
}

.pic_country_indonesia {
  background: url(../img/sprite_footer.png) no-repeat -148px -155px;
}

.pic_country_spain {
  background: url(../img/sprite_footer.png) no-repeat -128px -155px;
}

.pic_country_thailand {
  background: url(../img/sprite_footer.png) no-repeat -108px -172px;
}

.ft_last_ft {
  margin: 25px 0;
}

.ft_last_ft_img {
  overflow: hidden;
  display: inline-block;
  margin: 0 3px;
  width: 103px;
  height: 32px;
  text-indent: -999px;
}

.ft_last_ft_img_1 {
  background: url(../img/sprite_footer.png) -205px -111px no-repeat;
}

.ft_last_ft_img_2 {
  background: url(../img/sprite_footer.png) -205px -74px no-repeat;
}

.ft_last_ft_img_3 {
  background: url(../img/sprite_footer.png) -205px -37px no-repeat;
}

.ft_last_ft_img_4 {
  background: url(../img/sprite_footer.png) -205px 0px no-repeat;
}

.ft_last_ft_img_5 {
  background: url(../img/sprite_footer.png) 0px -155px no-repeat;
}

.clear::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.jd_seckill {
  height: 275px;
  margin-bottom: 30px;
}

.jd_seckill .jd_seckill_mid {
  margin: 0 auto;
  width: 1190px;
  background: #fff;
  overflow: hidden;
}

.jd_seckill .jd_seckill_mid .jd_seckill_r {
  position: relative;
  float: left;
  width: 190px;
  height: 275px;
  background: #e83632;
  color: #fff;
}

.jd_seckill .jd_seckill_mid .jd_seckill_r .jd_seckill_r_text {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.jd_seckill .jd_seckill_mid .jd_seckill_l {
  float: left;
}

.sk_tit, .sk_flash, .sk_desc {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 42px;
  font-size: 34px;
}

.sk_flash {
  top: 90px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.sk_desc {
  top: 170px;
  font-size: 16px;
}

.sk_ico {
  position: absolute;
  left: 86px;
  top: 126px;
  display: block;
  width: 20px;
  height: 33px;
  background-image: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.seckill.png);
  background-position: -35px -25px;
}

.sk_time {
  position: absolute;
  top: 212px;
  left: 30px;
  height: 40px;
}

.sk_time .sk_item {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #2f3430;
  margin-right: 5px;
}

.sk_item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #e83632;
}

.sk_time_text {
  position: relative;
  line-height: 40px;
  font-weight: bold;
  /* font-size: 16px; */
  font-size: 20px;
}

.sk_time_second {
  display: none;
}

.sk_list {
  position: relative;
  float: left;
  width: 799px;
  border-right: solid 1px #f0f0f0;
  height: 275px;
  overflow: hidden;
}

.sk_list .sk_list_inner {
  position: relative;
  width: 800px;
  height: 275px;
}

.slider_wrapper_item {
  float: left;
  width: 800px;
  height: 275px;
  background-color: #fff;
}

.slider_wrapper_item .slider_wrapper_item_inner {
  float: left;
  width: 200px;
}

.slider_wrapper_item .slider_wrapper_item_inner .sk_item_lk {
  position: relative;
  display: block;
  width: 190px;
  height: 275px;
  text-align: center;
  margin: auto;
}

.slider_wrapper_item_inner::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  width: 1px;
  height: 275px;
  background: #f0f0f0;
}

.sk_item_img {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 50%;
  margin-left: -70px;
  top: 40px;
}

.sk_item_img .lazyimg_img {
  width: 100%;
  height: 100%x;
}

.sk_item_name {
  position: absolute;
  top: 190px;
  left: 0;
  width: 160px;
  padding: 0 15px;
  line-height: 30px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sk_item_price {
  position: absolute;
  left: 15px;
  top: 230px;
  width: 160px;
  height: 20px;
  padding: 1px;
  background: #e6382f;
  line-height: 20px;
}

.sk_item_price_new, .sk_item_price_origin {
  float: left;
  width: 80px;
  height: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.sk_item_price_origin {
  color: #b7bcb8;
  font-size: 12px;
  text-decoration: line-through;
  font-weight: normal;
  background: #fff;
}

.sk_slide {
  position: relative;
  float: left;
  width: 180px;
  height: 260px;
  padding: 8px 10px 7px;
}

.sk_slide .sk_chn_inner {
  width: 100%;
  height: 100%;
}

.sk_slide .sk_chn_inner .slider_wrapper {
  width: 720px;
}

.sk_slide .sk_chn_inner .slider_wrapper .slide_item {
  height: 100%;
  min-height: 1px;
}

.sk_chn_img {
  width: 180px;
  height: 260px;
}

.sk_item_lk:hover .sk_item_img {
  opacity: 0.8;
}

.slider_bth {
  position: absolute;
  left: 50%;
  font-size: 0;
  text-align: center;
  bottom: 16px;
  margin-left: -14px;
}

.slider_circle_btn {
  display: inline-block;
  background: #c0c0c0;
  height: 6px;
  width: 6px;
  margin: 4px;
  border-radius: 50%;
}

.slider_circle_btn_active {
  background: #e33333;
}

.jd_main-floors-1, .floors_2_footer {
  height: 480px;
}

.jd_main-floors-1 .jd_main-floors-1-mid, .floors_2_footer .jd_main-floors-1-mid, .jd_main-floors-1 .floors_2_tit_mid, .floors_2_footer .floors_2_tit_mid, .jd_main-floors-1 .jd_main-floors-2-mid, .floors_2_footer .jd_main-floors-2-mid {
  overflow: hidden;
  margin: 0 auto;
  width: 1190px;
}

.jd_main-floors-1 .jd_main-floors-1-mid .box1, .floors_2_footer .jd_main-floors-1-mid .box1, .jd_main-floors-1 .floors_2_tit_mid .box1, .floors_2_footer .floors_2_tit_mid .box1, .jd_main-floors-1 .jd_main-floors-2-mid .box1, .floors_2_footer .jd_main-floors-2-mid .box1, .jd_main-floors-1 .jd_main-floors-1-mid .box2, .floors_2_footer .jd_main-floors-1-mid .box2, .jd_main-floors-1 .floors_2_tit_mid .box2, .floors_2_footer .floors_2_tit_mid .box2, .jd_main-floors-1 .jd_main-floors-2-mid .box2, .floors_2_footer .jd_main-floors-2-mid .box2, .jd_main-floors-1 .jd_main-floors-1-mid .box3, .floors_2_footer .jd_main-floors-1-mid .box3, .jd_main-floors-1 .floors_2_tit_mid .box3, .floors_2_footer .floors_2_tit_mid .box3, .jd_main-floors-1 .jd_main-floors-2-mid .box3, .floors_2_footer .jd_main-floors-2-mid .box3, .jd_main-floors-1 .jd_main-floors-1-mid .jd_floors-2_l, .floors_2_footer .jd_main-floors-1-mid .jd_floors-2_l, .jd_main-floors-1 .floors_2_tit_mid .jd_floors-2_l, .floors_2_footer .floors_2_tit_mid .jd_floors-2_l, .jd_main-floors-1 .jd_main-floors-2-mid .jd_floors-2_l, .floors_2_footer .jd_main-floors-2-mid .jd_floors-2_l, .jd_main-floors-1 .jd_main-floors-1-mid
.jd_floors-2_m, .floors_2_footer .jd_main-floors-1-mid
.jd_floors-2_m, .jd_main-floors-1 .floors_2_tit_mid
.jd_floors-2_m, .floors_2_footer .floors_2_tit_mid
.jd_floors-2_m, .jd_main-floors-1 .jd_main-floors-2-mid
.jd_floors-2_m, .floors_2_footer .jd_main-floors-2-mid
.jd_floors-2_m, .jd_main-floors-1 .jd_main-floors-1-mid
.jd_floors-2_r, .floors_2_footer .jd_main-floors-1-mid
.jd_floors-2_r, .jd_main-floors-1 .floors_2_tit_mid
.jd_floors-2_r, .floors_2_footer .floors_2_tit_mid
.jd_floors-2_r, .jd_main-floors-1 .jd_main-floors-2-mid
.jd_floors-2_r, .floors_2_footer .jd_main-floors-2-mid
.jd_floors-2_r {
  background: #fff;
  float: left;
  width: 390px;
  height: 450px;
  margin: 0 10px 30px 0;
}

.box3 {
  margin-right: 0 !important;
}

.box1-header {
  height: 60px;
  padding: 0 20px;
  font-size: 0;
  line-height: 0;
}

.box1-header .box1-header-lk {
  display: inline-block;
  position: relative;
  height: 40px;
  margin: 8px 0 0 0;
}

.box1-header .box1-header-lk .box1-title {
  float: left;
  font-weight: normal;
  font-size: 22px;
  color: #222;
  line-height: 44px;
}

.box1-header .box1-header-lk .box1_hd_arrow {
  background-position: 0 0;
  float: left;
  position: relative;
  width: 23px;
  height: 23px;
  top: 11px;
  left: 4px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAAklEQVR4AewaftIAAAHiSURBVJXBvUuUcQAA4MefclJIGmWDUGr9CU72ZZwEgjYoHIH2MbUUIQTpFHdj2hBK/QFSQtCpSEc1lCIF1trUIhaGgwhd4hAHaoIHYr73nj5PxVJLixICkuhBK5pQhzx+YB6TmMGmCFWidWEIBbzEGJawipM4jQt4ggQGkfOfKnslMIqreIgpbNlrGcv4iqfoxgiu4T4KioJdCUyjCS2YxJZ4W5hECxoxjYSiYNczFNCJvL1qxcujEwU8VxTs6MQV9GHDfq+QFm8DfbiMLtsCAobQj3XRbiOFtHjr6McwQkASBbxT2gqSSCEt3nv8RXtAD8aVt4IkUkiLN47ugPP47GBWkEQKaaXNoTWgEUsObgVJpJAWbQHNAXVYdThbdlSI9hu1AXmccHD1mEUWGdGO40/AT5xxMPWYRRYZpZ3FYsA8LiqvHrPIIiNeG74ETKBXvFOYRRYZ5fViKmAGR9ChtDFkkVFeB47iQ8AmBjCKGtGuI6O8GoxgEJvBjhzmMI5K+60prxLj+IQ3tgW77iGBHGodTi1yqMZdRZUPGhoUbeA1LuExfuG7eBXowQS+4QYKiqrsVcAddGEYj/ACc1hAHnU4hzbcRDX6kfOfKtFyeIt29OAWmnEMa1jEPAbwEZsi/APwnHjX1+uAaQAAAABJRU5ErkJggg==);
}

.box1-header .box1-header-lk .box1_hd_text {
  float: left;
  font-size: 14px;
  color: #999;
  height: 20px;
  line-height: 20px;
  margin: 12px 0 0 10px;
}

.box1_footer .box1_footer_tab_header {
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #f7f7f7;
}

.box1_footer .box1_footer_tab_header .box1_footer_tab_item {
  float: left;
  width: 78px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: color ease 0.2s;
  -o-transition: color ease 0.2s;
  -moz-transition: color ease 0.2s;
  transition: color ease 0.2s;
}

.tab_item_on .top_tab_lk {
  color: #e33333;
}

.tab_body_inner {
  margin: 0 20px;
  position: relative;
}

.tab_body_list {
  overflow: hidden;
  position: relative;
}

.tab_body_wrapper {
  width: 1400px;
}

.tab_body_wrapper_inner {
  height: 321px;
  overflow: hidden;
  float: left;
  width: 350px;
}

.top_item_lk {
  position: relative;
  display: block;
  /* height: 108px; */
  height: 107px;
}

.top_item_lk .top_item_img {
  float: left;
  width: 80px;
  height: 80px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

.top_item_rank_1 {
  color: #e74240;
}

.top_item_rank_2 {
  color: #ed713d;
}

.top_item_rank_3 {
  color: #feb185;
}

.top_item_rank {
  float: left;
  width: 30px;
  height: 40px;
  margin: 36px 0 0 10px;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  font-family: 'impact', sans-serif;
}

.top_item_name {
  display: block;
  margin-left: 125px;
  padding-top: 40px;
  height: 32px;
  line-height: 16px;
  font-size: 12px;
  overflow: hidden;
  color: #333;
}

.top_item_lk:hover .top_item_name {
  color: #e33333;
}

.tab_body_list::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #f5f5f5;
}

.tab_btn {
  position: absolute;
  left: 50%;
  font-size: 0;
  text-align: center;
  bottom: -26px;
}

.tab_btn_begin {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 1px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background .2s ease;
  -o-transition: background ease .2s;
  -moz-transition: background ease .2s;
  transition: background .2s ease;
  font-size: 0;
  text-align: center;
}

.tab_btn_begin::after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #b9beba;
  -webkit-transition: all .2s ease;
  -o-transition: all ease .2s;
  -moz-transition: all ease .2s;
  transition: all .2s ease;
}

.tab_btn_active {
  background: #fdd9dd;
}

.tab_btn_active::after {
  border: 2px solid transparent;
  background: #eb3436;
}

.box2_footer_cut, .box3_footer_inner, .jd_floors-2_m_inner, .floors_5_slide_l_img, .floors_5_slide_m_img, .floors_5_slide_r_img {
  position: relative;
  width: 350px;
  height: 355px;
  margin: auto;
}

.box2_footer_img {
  width: 350px;
  height: 128px;
  margin-bottom: 20px;
}

.box2_footer_img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  display: block;
  width: 0;
  height: 0;
  border-top: solid 8px transparent;
  border-right: solid 8px transparent;
  border-bottom: solid 8px #fff;
  border-left: solid 8px transparent;
}

.box2_footer_text {
  width: 100%;
  height: 210px;
  z-index: 1;
  font-family: 'Microsoft Yahei', sans-serif;
}

.box2_footer_list {
  text-align: center;
  font-size: 0;
  margin: 0 -8px;
}

.box2_footer_item_img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.box2_footer_item {
  display: inline-block;
  width: 105px;
  height: 105px;
  margin: 0 8px;
  background: #fff;
  overflow: hidden;
  line-height: 105px;
}

.box2_footer_title {
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  text-align: center;
  color: #222;
}

.box2_footer_subtit {
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  margin: 0 auto 0;
  text-align: center;
  overflow: hidden;
  color: #666;
}

.box2_footer_img:hover {
  opacity: 0.8;
}

.box2_footer_item_img:hover {
  opacity: 0.8;
}

.box3_footer_item_inner {
  position: relative;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: #f6f6f6;
}

.box3_footer_item_inner::before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 54px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  top: -8px;
}

.box3_footer_item_inner::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 54px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  bottom: -8px;
}

.box3_footer_item_lk {
  display: block;
  height: 118px;
  overflow: hidden;
}

.box3_footer_img {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 14px 0 0 10px;
  width: 70px;
  height: 70px;
  padding: 10px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: opacity ease 0.2s;
  -o-transition: opacity ease 0.2s;
  -moz-transition: opacity ease 0.2s;
  transition: opacity ease 0.2s;
  background: #fff;
  transition: opacity ease 0.2s;
}

.box3_footer_more {
  float: right;
  height: 100%;
  line-height: 118px;
  margin-right: 34px;
  font-size: 12px;
  color: #333;
}

.box3_footer_more_inner {
  display: inline-block;
  width: 1px;
  line-height: 15px;
  vertical-align: middle;
}

.box3_footer_info {
  padding-top: 15px;
  margin: 0 72px 0 110px;
}

.box3_footer_info .box3_footer_info_price {
  color: #e33333;
  font-size: 0px;
  font-family: 'impact', sans-serif;
  display: block;
  height: 38px;
  line-height: 38px;
}

.box3_footer_info .box3_footer_info_price i {
  font-size: 16px;
  margin-right: 3px;
  font-family: arial, sans-serif;
  font-weight: 400;
}

.box3_footer_info .box3_footer_info_price span {
  font-size: 34px;
}

.box3_footer_info_text, .box3_footer_info_des {
  color: #b1b3b0;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box3_footer_info_des {
  color: #767b77;
}

.box3_footer_item_inner:nth-child(2n) {
  background: #eeefed;
}

.box3_footer_item_lk:hover .box3_footer_more {
  color: #e33333;
}

/****jd_main-floors-2*****/
.jd_main-floors-2 {
  height: auto;
}

.floors_2_tit, .floors_4_hd, .floors_5_hd, .floors_6_hd, .floors_7_hd {
  height: 65px;
}

.floor_2_hd_tit, .floors_4_tit, .floors_5_tit, .floors_6_tit, .floors_7_tit {
  position: relative;
  width: 150px;
  height: 45px;
  font-size: 28px;
  font-family: 'fzzzh', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 45px;
  padding: 0 50px;
  margin: 0 auto 20px;
  overflow: hidden;
  color: #222;
}

.floor_2_hd_tit::after, .floors_4_tit::after, .floors_5_tit::after, .floors_6_tit::after, .floors_7_tit::after,
.floor_2_hd_tit::before,
.floors_4_tit::before,
.floors_5_tit::before,
.floors_6_tit::before,
.floors_7_tit::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  display: block;
  background: #222;
  top: 19px;
}

.floor_2_hd_tit::after, .floors_4_tit::after, .floors_5_tit::after, .floors_6_tit::after, .floors_7_tit::after {
  right: 0;
}

.floor_2_hd_tit::before, .floors_4_tit::before, .floors_5_tit::before, .floors_6_tit::before, .floors_7_tit::before {
  left: 0;
}

.jd_floors-2_r {
  margin-right: 0 !important;
  background: transparent !important;
}

.floors-2_l_inner, .floors-2_r_inner {
  margin: 0 0 0 20px;
}

.inner_hd_l, .inner_hd_r {
  float: left;
  display: block;
  width: 170px;
  height: 180px;
  margin: 0 10px 10px 0;
}

.inner_hd_l_img, .inner_hd_r_img {
  width: 100%;
  height: 100%;
}

.inner_hd_l_img:hover, .inner_hd_r_img:hover {
  opacity: 0.8;
}

.inner_hd_r_img:hover {
  opacity: 0.8;
}

.inner_body {
  float: left;
  width: 348px;
  border: solid #ebeaea;
  border-width: 0 1px 1px 0;
  overflow: hidden;
}

.inner_body_img {
  float: left;
  width: 86px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  font-size: 0;
  overflow: hidden;
  border: solid #ebeaea;
  border-width: 1px 0 0 1px;
}

.inner_body_img .inner_img {
  background: #fff;
  width: 80px;
  margin: auto;
}

.inner_body_img:hover {
  opacity: 0.8;
}

.m_inner_img, .jd_floors-2_r_img {
  display: block;
}

.m_inner_img .a_m_inner_img, .jd_floors-2_r_img .a_m_inner_img {
  width: 100%;
  height: 100%;
}

.a_m_inner_img:hover {
  opacity: 0.8;
}

.jd_floors-2_r_inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.jd_floors-2_r_inner::after {
  content: '';
  z-index: 0;
  display: block;
  position: absolute;
  width: 340px;
  height: 420px;
  left: 30px;
  top: 0;
  background: #f0f3ef;
  left: auto;
  right: 30px;
}

.jd_floors-2_r_inner::before {
  content: '';
  position: absolute;
  display: block;
  width: 340px;
  height: 420px;
  border: solid 5px #333;
  top: 20px;
  right: 0;
}

.a_r_inner_img {
  position: relative;
  width: 100%;
  height: 100%;
}

.a_r_inner_img:hover {
  opacity: 0.8;
}

.jd_floors-2_r_img {
  float: right;
  margin-right: 30px;
  position: relative;
  z-index: 1;
  width: 340px;
  height: 420px;
  margin: 0 30px;
}

.box {
  float: left;
  width: 390px;
  height: 450px;
  margin: 0 10px 30px 0;
}

.act_inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.act_inner::before {
  content: '';
  position: absolute;
  display: block;
  width: 340px;
  height: 420px;
  border: solid 5px #333;
  top: 20px;
}

.act_inner:after {
  content: '';
  z-index: 0;
  display: block;
  position: absolute;
  width: 340px;
  height: 420px;
  left: 30px;
  top: 0;
  background: #f0f3ef;
}

.act_lk {
  width: 340px;
  height: 200px;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 30px;
  margin-bottom: 20px;
}

.act_img:hover img {
  opacity: 0.8;
}

.bgcol {
  background-color: #fff !important;
}

.jd_floors-2_m_a {
  display: block;
  height: 225px;
  background: #fff;
  position: relative;
}

.floors-2_m_dif_hd {
  padding-top: 20px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
}

.floors-2_m_dif_tit {
  width: 350px;
  color: #222;
  font-weight: normal;
  margin: auto;
}

.floors-2_m_dif_subtit {
  color: #999;
  font-size: 14px;
  vertical-align: 1px;
}

.jd_floors-2_m_body {
  padding-top: 30px;
}

.floors-2_dif_ul {
  overflow: hidden;
  text-align: center;
}

.floors-2_dif_ul .floors-2_dif_list {
  display: inline-block;
  margin: 0 25px;
}

.floors-2_dif_img {
  width: 130px;
  height: 130px;
}

.jd_floors-2_m_line {
  height: 1px;
  width: 100%;
  background-color: #f3f2f1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.floors-2_dif_img:hover {
  opacity: 0.8;
}

.floors-2_r_inner_img {
  display: block;
  width: 350px;
  height: 180px;
  margin-bottom: 10px;
}

.floors-2_r_ft_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.goodshop2_wrapper {
  padding: 0 20px 20px 20px;
}

.goodshop2_wrapper .goodshop2_item {
  background-color: #e3e6ec;
  height: 180px;
  margin-bottom: 10px;
}

.goodshop2_wrapper .goodshop2_item .goodshop2_item_inner {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.goodshop2_wrapper .goodshop2_item .goodshop2_item_inner .goodshop2_item_hd {
  background-color: rgba(121, 135, 164, 0.5);
  height: 100%;
  width: 116px;
  float: left;
  padding: 31px 14px 0 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.goodshop2_tit {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.goodshop2_logo {
  width: auto;
  background-color: #e4393c;
  border: 1px solid #e4393c;
  overflow: hidden;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 15px;
  font-size: 12px;
  vertical-align: middle;
  padding-right: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: inline-block;
  height: 17px;
}

.goodshop2_logo i {
  background-color: #fff;
  color: #e4393c;
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 2px;
  font-weight: bold;
}

.goodshop2_des {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 14px;
  top: 136px;
}

.box1_hd_dot {
  font-size: 20px;
  display: inline-block;
  float: left;
  height: 10px;
  margin: 20px 0 0 10px;
  color: #999;
}

.goodshop2_item_li {
  float: left;
  margin-top: 34px;
  margin-left: 14px;
}

.goodshop2_img_l, .goodshop2_img_r {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.goodshop2_img_l img, .goodshop2_img_r img {
  display: inline-block;
  height: 90px;
  width: 90px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 3px 0 0 3px;
  -webkit-transition: opacity ease 0.2s;
  -o-transition: opacity ease 0.2s;
  -moz-transition: opacity ease 0.2s;
  transition: opacity ease 0.2s;
}

.goodshop2_item_li_img {
  background-color: #fff;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 96px;
  width: 96px;
  overflow: hidden;
}

.goodshop2_img_l img:hover, .goodshop2_img_r img:hover {
  opacity: 0.8;
}

.goodshop2_item_li_price {
  color: #e43235;
  text-align: center;
  margin-top: 7px;
  font-size: 12px;
}

.floors-2_r_ft_img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/****jd_main-floors-2*****/
/****企业采购****/
.jd_main_floors_4 {
  margin-bottom: 30px;
}

.floors_4_hd_mid, .floors_5_hd_mid, .floors_6_hd_mid, .floors_7_hd_mid {
  width: 1190px;
  margin: 0 auto;
}

.floors_4_bd, .floors_5_bd, .floors_6_bd {
  background-color: #fff;
}

.floors_4_l_img, .floors_4_l_img_dif {
  width: 380px;
  margin-left: 20px;
  float: left;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.floors_4_l_img:hover, .floors_4_l_img_dif:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.floors_4_l_img_dif {
  width: 190px;
  margin-left: 7.5px;
  position: relative;
  display: block;
  overflow: visible;
}

.floors_4_l_img_dif_line::after {
  content: '';
  display: block;
  position: absolute;
  left: -4px;
  top: 0;
  width: 1px;
  background-color: #f7f7f7;
  height: 180px;
}

/*** 特殊推荐****/
.jd_main_floors_5 {
  height: 450px;
}

.floors_5_bd {
  background-color: transparent;
}

.floors_5_hd_mid {
  position: relative;
  height: 385px;
}

.floors_5_slide_l, .floors_5_slide_m, .floors_5_slide_r {
  position: relative;
  height: 330px;
  background: #fff;
  float: left;
  width: 390px;
  margin: 0 10px 0px 0;
}

.floors_5_slide_r {
  margin-right: 0;
}

.floors_5_slide_l_img, .floors_5_slide_m_img, .floors_5_slide_r_img {
  height: 250px;
  display: block;
}

.slider_wrapper_tol {
  float: left;
  width: 1190px;
}

/****京东直播****/
.jd_main_floors_6 {
  height: 520px;
}

.floors_6_bd {
  background-color: transparent;
}

.floors_6_box_l, .floors_6_box_m, .floors_6_box_r {
  position: relative;
  height: 425px;
  background: #fff;
  float: left;
  width: 390px;
  margin: 0 10px 30px 0;
}

.floors_6_box_r {
  margin-right: 0;
}

.floors_6_box_mar {
  margin: 15px;
  overflow: hidden;
}

.floors_6_item, .floors_6_item_large {
  position: relative;
  display: block;
  float: left;
  width: 170px;
  height: 190px;
  margin: 5px;
}

.floors_6_item::after, .floors_6_item_large::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.floors_6_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.floors_6_btn, .floors_6_btn_large {
  position: absolute;
  height: 44px;
  width: 44px;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  z-index: 1;
  opacity: 0.8;
  background: url(../img/download.png) no-repeat;
  background-size: 100% 100%;
}

.floors_6_info {
  bottom: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.floors_6_des {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.floors_6_item:hover:after, .floors_6_item_large:hover:after {
  background: rgba(0, 0, 0, 0.15);
}

.floors_6_item_large {
  width: 100%;
  height: 390px;
  margin-bottom: 10px;
}

.floors_6_btn_large {
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
}

.floors_6_title {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/****还没逛够****/
.floors_7_ul {
  margin: 0 -5px 0;
}

.floors_7_ul_list {
  position: relative;
  float: left;
  width: 230px;
  height: 305px;
  background: #fff;
  margin: 0 5px 10px;
}

.floors_7_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.floors_7_a_img {
  width: 150px;
  height: 150px;
  margin: 40px auto 18px;
  display: block;
}

.floors_7_info {
  clear: both;
  padding: 0 16px 0;
  height: 65px;
  line-height: 24px;
}

.floors_7_info .floors_7_desc {
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #7d7d7d;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.floors_7_desc_zy {
  background-color: #e33333;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  padding: 0 5px;
  margin-right: 4px;
  line-height: 16px;
  height: 16px;
  font-size: 12px;
  display: inline-block;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', SimSun, serif;
}

.floors_7_price {
  margin-top: 5px;
}

.floors_7_price .info_price {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  height: 18px;
  color: #e33333;
}

.floors_7_price .info_price i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 3px;
  font-family: arial, sans-serif;
  font-weight: 400;
}

.price_ticket {
  font-size: 12px;
  color: #e33333;
  height: 16px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e33333;
  line-height: 14px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  vertical-align: 1px;
}

.floors_7_img:hover .lazyimg_img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.floors_7_ul_list:hover .floors_7_on {
  display: block;
  opacity: 1;
  transition: all 0.4s ease;
}

.floors_7_on {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 230px;
  height: 66px;
  text-align: center;
  display: block;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, white 35%, white 100%);
}

.floors_7_on_l, .floors_7_on_r {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  height: 28px;
  width: 80px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #353131;
  -moz-border-radius: 15px;
  border-radius: 15px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  margin-top: 18px;
  background-color: #353131;
}

.floors_7_icon {
  display: inline-block;
  margin-top: -4px;
  width: 16px;
  height: 12px;
  -moz-background-size: 16px 12px;
  background-size: 16px 12px;
  margin-right: 4px;
  background-image: url(../img/icon_pic.png);
  transition: all 0.4s ease;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.floors_7_on_r {
  color: #353131;
  background-color: #fff;
}

.floors_7_on_r .floors_7_icon {
  background-image: url(../img/icon_pic_1.png);
  margin-top: -3px;
  width: 12px;
  height: 14px;
  -moz-background-size: 12px 14px;
  background-size: 12px 14px;
  margin-right: 4px;
}

.bg-color {
  background-color: #f0f3ef;
}

#J_event {
  z-index: 30;
  background-color: #1c1534;
}

#J_event_lk {
  display: block;
  width: 100%;
  height: 80px;
  background: url(../img/a940a7374bec6a04.jpg) no-repeat 50% 0;
}

#J_event_close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  background: #2d2d2d;
  opacity: .3;
  filter: alpha(opacity=30);
  width: 20px;
  text-align: center;
  line-height: 20px;
}

#jd_stairs {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9990;
  width: 0;
  height: 100%;
}

#jd_stairs .jd_stairs_line {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-right: 6px solid #7a6e6e;
}

#jd_stairs .jd_stairs_line .jd_stairs_nav {
  position: absolute;
  top: 50%;
  left: -29px;
  width: 35px;
  margin-top: -80px;
}

.jd_stairs_nav_last {
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: -29px;
}

.jd_stairs_nav_one, .jd_stairs_nav_last_nav, .jd_stairs_nav_two, .jd_stairs_nav_three, .jd_stairs_nav_four, .jd_stairs_nav_five, .jd_stairs_nav_six, .jd_stairs_nav_seven {
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  z-index: 3;
}

.nav_one_dot {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 6px;
  height: 6px;
  background-position: -150px -150px;
  background: url(../img/toolbars.png) -150px -150px no-repeat;
  z-index: 9;
}

.nav_one_img, .nav_two_img, .nav_three_img, .nav_four_img, .nav_five_img, .nav_six_img, .nav_seven_img, .nav_last_img {
  display: inline-block;
  width: 34px;
  height: 35px;
  margin-left: 1px;
  position: relative;
  z-index: 2;
  background: url(../img/toolbars.png) -88px -175px no-repeat;
  background-color: #7a6e6e;
}

.nav_two_img {
  background-position: -50px 0;
}

.nav_three_img {
  background-position: -50px -50px;
}

.nav_four_img {
  background-position: -50px -100px;
}

.nav_five_img {
  background-position: -190px -150px;
}

.nav_six_img {
  background-position: -50px -150px;
}

.nav_seven_img {
  background-position: -50px -300px;
}

.nav_last_img {
  background-position: -50px -250px;
}

.sub_nav_text {
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  font-family: 微软雅黑;
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 0;
  background-color: #7a6e6e;
  border-radius: 3px 0 0 3px;
  -webkit-transition: left .3s ease-in-out .1s;
  transition: left .3s ease-in-out .1s;
}

.jd_stairs_nav_one:hover .sub_nav_text, .jd_stairs_nav_last_nav:hover .sub_nav_text, .jd_stairs_nav_two:hover .sub_nav_text, .jd_stairs_nav_three:hover .sub_nav_text, .jd_stairs_nav_four:hover .sub_nav_text, .jd_stairs_nav_five:hover .sub_nav_text, .jd_stairs_nav_six:hover .sub_nav_text, .jd_stairs_nav_seven:hover .sub_nav_text {
  left: -60px;
  background-color: #c81623;
}

.jd_stairs_nav_one:hover .nav_one_dot, .jd_stairs_nav_last_nav:hover .nav_one_dot, .jd_stairs_nav_two:hover .nav_one_dot, .jd_stairs_nav_three:hover .nav_one_dot, .jd_stairs_nav_four:hover .nav_one_dot, .jd_stairs_nav_five:hover .nav_one_dot, .jd_stairs_nav_six:hover .nav_one_dot, .jd_stairs_nav_seven:hover .nav_one_dot {
  display: none;
}

.jd_stairs_nav_one:hover .nav_one_img, .jd_stairs_nav_last_nav:hover .nav_one_img, .jd_stairs_nav_two:hover .nav_one_img, .jd_stairs_nav_three:hover .nav_one_img, .jd_stairs_nav_four:hover .nav_one_img, .jd_stairs_nav_five:hover .nav_one_img, .jd_stairs_nav_six:hover .nav_one_img, .jd_stairs_nav_seven:hover .nav_one_img, .jd_stairs_nav_one:hover .nav_two_img, .jd_stairs_nav_last_nav:hover .nav_two_img, .jd_stairs_nav_two:hover .nav_two_img, .jd_stairs_nav_three:hover .nav_two_img, .jd_stairs_nav_four:hover .nav_two_img, .jd_stairs_nav_five:hover .nav_two_img, .jd_stairs_nav_six:hover .nav_two_img, .jd_stairs_nav_seven:hover .nav_two_img, .jd_stairs_nav_one:hover .nav_three_img, .jd_stairs_nav_last_nav:hover .nav_three_img, .jd_stairs_nav_two:hover .nav_three_img, .jd_stairs_nav_three:hover .nav_three_img, .jd_stairs_nav_four:hover .nav_three_img, .jd_stairs_nav_five:hover .nav_three_img, .jd_stairs_nav_six:hover .nav_three_img, .jd_stairs_nav_seven:hover .nav_three_img, .jd_stairs_nav_one:hover .nav_four_img, .jd_stairs_nav_last_nav:hover .nav_four_img, .jd_stairs_nav_two:hover .nav_four_img, .jd_stairs_nav_three:hover .nav_four_img, .jd_stairs_nav_four:hover .nav_four_img, .jd_stairs_nav_five:hover .nav_four_img, .jd_stairs_nav_six:hover .nav_four_img, .jd_stairs_nav_seven:hover .nav_four_img, .jd_stairs_nav_one:hover .nav_five_img, .jd_stairs_nav_last_nav:hover .nav_five_img, .jd_stairs_nav_two:hover .nav_five_img, .jd_stairs_nav_three:hover .nav_five_img, .jd_stairs_nav_four:hover .nav_five_img, .jd_stairs_nav_five:hover .nav_five_img, .jd_stairs_nav_six:hover .nav_five_img, .jd_stairs_nav_seven:hover .nav_five_img, .jd_stairs_nav_one:hover .nav_six_img, .jd_stairs_nav_last_nav:hover .nav_six_img, .jd_stairs_nav_two:hover .nav_six_img, .jd_stairs_nav_three:hover .nav_six_img, .jd_stairs_nav_four:hover .nav_six_img, .jd_stairs_nav_five:hover .nav_six_img, .jd_stairs_nav_six:hover .nav_six_img, .jd_stairs_nav_seven:hover .nav_six_img, .jd_stairs_nav_one:hover .nav_seven_img, .jd_stairs_nav_last_nav:hover .nav_seven_img, .jd_stairs_nav_two:hover .nav_seven_img, .jd_stairs_nav_three:hover .nav_seven_img, .jd_stairs_nav_four:hover .nav_seven_img, .jd_stairs_nav_five:hover .nav_seven_img, .jd_stairs_nav_six:hover .nav_seven_img, .jd_stairs_nav_seven:hover .nav_seven_img, .jd_stairs_nav_one:hover .nav_last_img, .jd_stairs_nav_last_nav:hover .nav_last_img, .jd_stairs_nav_two:hover .nav_last_img, .jd_stairs_nav_three:hover .nav_last_img, .jd_stairs_nav_four:hover .nav_last_img, .jd_stairs_nav_five:hover .nav_last_img, .jd_stairs_nav_six:hover .nav_last_img, .jd_stairs_nav_seven:hover .nav_last_img {
  background-color: #c81623;
}

.nav_two_inner {
  position: absolute;
  z-index: 3;
  right: 2px;
  top: -5px;
  height: 11px;
  padding: 1px 2px;
  border: 1px solid #b61d1d;
  overflow: hidden;
  color: #fff;
  font: 11px/11px verdana;
  text-align: center;
  min-width: 11px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #cc6060 0, #b61d1d);
}

.jd_stairs_nav_two:hover .nav_two_inner {
  background: #fff;
  color: #c81623;
}

.jd_stairs_nav_last_nav:hover .sub_nav_text {
  left: -48px;
}
