@charset "utf-8";
$w:width;
$h:height;
$mar:margin;
$pad:padding;
$abs:absolute;
$pos:position;
$rel:relative;
$col:color;
$fs:font-size;
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
}

.mid {
    #{$w}: 990px;
    #{$mar}: 0 auto;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #E4393C;
    text-decoration: underline;
}

#logo {
    #{$pos}: $rel;
    #{$w}: 300px;
    #{$mar}: 10px 0;
    #{$h}: 60px;
    float: left;
    img {
        border: 0;
        vertical-align: middle;
    }
    span {
        display: block;
        #{$w}: 110px;
        #{$h}: 40px;
        #{$pos}: $abs;
        right: 0;
        bottom: 0;
        background: url(https://misc.360buyimg.com/user/passport/1.0.0/css/i/l-icon.png) no-repeat;
    }
}

.questionnaire {
    #{$pos}: $rel;
    #{$col}: #999;
    float: right;
    top: 52px;
    span {
        display: inline-block;
        #{$w}: 18px;
        #{$h}: 14px;
        margin: 0 5px;
        background: url(https://misc.360buyimg.com/user/passport/1.0.0/css/i/q-icon.png) no-repeat;
        overflow: hidden;
        vertical-align: middle
    }
}

#main {
    clear: both;
    .main_hd {
        background: #fff8f0;
        #{$w}: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
}

.main_hd_text {
    display: inline-block;
    #{$w}: 90%;
    p {
        vertical-align: middle;
        #{$col}: #999;
        #{$fs}: 12px;
        display: inline-block;
    }
}

.icon_pic {
    background: url(https://misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/icon-tips.png);
    display: inline-block;
    #{$w}: 16px;
    #{$h}: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.main_content {
    #{$pos}: $rel;
    #{$h}: 475px;
    margin-bottom: 20px;
}

.main_banner {
    #{$w}: 100%;
    #{$h}: 475px;
    background-color: #fbdfcd
}

.banner {
    background: url(https://img12.360buyimg.com/da/jfs/t1/36911/22/7109/96554/5cc6a4eaEf4bad31a/a4c780ccd5ca26be.jpg) no-repeat;
    #{$h}: 475px;
}

.login_form {
    #{$pos}: $rel;
    float: right;
    margin-top: 10px;
    background: #fff;
    overflow: visible;
    width: 346px;
    .login_form_hd {
        @extend .main_hd
    }
}

.form_hd_text {
    @extend .main_hd_text
}

.login_tab_l {
    #{$w}: 173px;
    #{$h}: 54px;
    #{$fs}: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    #{$pos}: $abs;
    background: #fff;
    display: block;
    a {
        #{$w}: 99%;
        #{$h}: 18px;
        #{$pos}: $abs;
        left: 0;
        top: 18px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }
}

.login_tab_r {
    @extend .login_tab_l;
    right: 0;
    a:hover {
        font-weight: 700;
        color: #e4393c
    }
}

.qrcode {
    display: block;
    #{$w}: 306px;
    #{$pad}: 20px 18px 20px 20px;
    text-align: center;
}

.qrcode_hd_l {
    #{$pos}: $abs;
    right: -18px;
    top: -2px;
    #{$w}: 141px;
    #{$h}: 168px;
    background: url(https://misc.360buyimg.com/user/passport/1.0.0/css/i/phone-orange.png) no-repeat;
}

.qrcode_main {
    #{$pos}: $rel;
    #{$h}: 168px;
    margin-top: 55px;
    .qrcode_img {
        border: 1px solid #f4f4f4;
        #{$pad}: 8px;
        #{$h}: 155px;
        #{$pos}: $abs;
        left: 64px;
        img {
            #{$w}: 147px;
            #{$h}: 147px;
        }
    }
}

.qrcode_help {
    display: none;
    #{$pos}: $abs;
    right: -18px;
    top: -2px;
    #{$w}: 141px;
    #{$h}: 168px;
    background: url(https://misc.360buyimg.com/user/passport/1.0.0/css/i/phone-orange.png) no-repeat;
    z-index: 2;
}

.qrcode_desc {
    #{$w}: 257px;
    #{$mar}: 18px auto 14px;
    text-align: center;
    li {
        display: inline-block;
        #{$pad}: 0 0 0 5px;
        #{$mar}: 0 5px 0 0;
        a:hover {
            text-decoration: none;
        }
    }
}

.safe_quick {
    font-family: "microsoft yahei";
    #{$col}: #999;
    border: none;
    #{$pad}: 0;
    line-height: 25px;
    margin-left: 40px;
    ul::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    li {
        text-align: left;
        #{$pos}: $rel;
        margin-right: 18px;
        float: left;
        span {
            #{$w}: 25px;
            #{$h}: 25px;
            display: block;
            background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/qr-coagent.png) no-repeat;
            #{$mar}: 0 auto;
            #{$pos}: $abs;
            left: 0;
        }
        em {
            padding-left: 32px;
            font-style: normal;
        }
    }
}

.fast {
    background-position: -27px !important;
}

.more_safe {
    background-position: -54px !important;
}

.login_form_last {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-top: 1px solid #f4f4f4;
    #{$h}: auto;
    background-color: #fcfcfc;
    li {
        float: left;
        height: 50px;
    }
}

.login_form_last ul::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.right {
    float: right !important;
}

.QQ {
    display: inline-block;
    #{$pos}: $rel;
    padding-left: 24px;
}

.qq_icon {
    #{$w}: 19px;
    #{$h}: 18px;
    display: block;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/QQ-weixin.png) no-repeat;
    #{$mar}: 0 auto;
    #{$pos}: $abs;
    float: left;
    left: 0;
    top: 16px;
}

.line {
    #{$col}: #ccc;
    #{$pad}: 0 10px;
}

.wx {
    @extend .QQ;
}

.wx_icon {
    @extend .qq_icon;
    background-position: -20px 0;
}

.regist-link {
    #{$col}: #b61d1d;
    #{$fs}: 14px;
    a {
        #{$col}: #b61d1d;
        b {
            display: inline-block;
            width: 16px;
            height: 16px;
            overflow: hidden;
            background: url(https://misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/pwd-icons-new.png) -104px -75px no-repeat;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}

.footer_inner {
    padding-bottom: 30px;
    text-align: center;
}

.footer_link a {
    margin: 0 10px;
}

.copyright {
    margin: 10px 0;
}

.login_box {
    #{$w}: 306px;
    #{$pad}: 20px;
    display: block;
    visibility: visible;
}

.login_box_hd {
    #{$h}: 35px;
    display: block;
    #{$w}: 306px;
    overflow: visible;
}

.login_box_wrap {
    min-height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form_item {
    border: 1px solid #bdbdbd;
    #{$h}: 38px;
    #{$w}: 304px;
    #{$pos}: $rel;
    margin-bottom: 20px;
}

.form_label_name {
    #{$pos}: $abs;
    z-index: 3;
    top: 0;
    left: 0;
    #{$w}: 38px;
    #{$h}: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(https://misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/pwd-icons-new.png) no-repeat;
}

#loginname {
    line-height: 18px;
    #{$h}: 18px;
    border: 0;
    #{$pad}: 10px 0 10px 50px;
    #{$w}: 254px;
    float: none;
    overflow: hidden;
    font-size: 14px;
    font-family: '\5b8b\4f53';
}

.form_label_pwd {
    @extend .form_label_name;
    background-position: -48px 0;
}

#loginpwd {
    @extend #loginname;
}

.form_item_safe {
    #{$pos}: $rel;
    margin-bottom: 20px;
    .safe {
        #{$pos}: $rel;
        #{$col}: #666;
    }
    .forget_pwd_safe {
        #{$pos}: $abs;
        right: 0;
        top: 0;
        #{$mar}: 0;
    }
}

.form_item_btn {
    #{$pos}: $rel;
    margin-bottom: 10px;
    .login-btn {
        border: 1px solid #cb2a2d;
        #{$w}: 0 auto;
        #{$h}: 32px;
        #{$w}: 99%;
        #{$pos}: $rel;
        .btn {
            border: 1px solid #e85356;
            display: block;
            #{$w}: 302px;
            background: #e4393c;
            #{$h}: 31px;
            line-height: 31px;
            #{$col}: #fff;
            #{$fs}: 20px;
            font-family: 'Microsoft YaHei';
            text-align: center;
        }
    }
}

.btn:hover {
    text-decoration: none;
}